body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    animation-name: kishor;
    animation: alternate;
    animation-duration: 3s;
    /* animation-delay: 4s; */
    animation-timing-function: ease-in-out;


}
.box1{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    animation-name: Kishor;
    animation: alternate;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;

}
@keyframes kishor {
    to{
        transform: translate(0px,200px);
    }
}